:root {
  /* Color */
  --purple: hsl(259, 100%, 65%);
  --light-red: hsl(0, 100%, 67%);
  --white: hsl(0, 0%, 100%);
  --off-white: hsl(0, 0%, 94%);
  --light-grey: hsl(0, 0%, 86%);
  --smokey-grey: hsl(0, 1%, 44%);
  --off-black: hsl(0, 0%, 8%);

  /* Gap */
  --gap-0: 0px;
  --gap-1: 1px;
  --gap-1_25: 0.125rem;
  --gap-2_5: 0.25rem;
  --gap-3_75: 0.375rem;
  --gap-5: 0.5rem;
  --gap-6_25: 0.625rem;
  --gap-7_5: 0.75rem;
  --gap-8_75: 0.875rem;
  --gap-10: 1rem;
  --gap-12_5: 1.25rem;
  --gap-15: 1.5rem;
  --gap-17_5: 1.75rem;
  --gap-20: 2rem;
  --gap-22_5: 2.25rem;
  --gap-27_5: 2.75rem;
  --gap-30: 3rem;
  --gap-35: 3.5rem;
  --gap-40: 4rem;
  --gap-50: 5rem;
  --gap-60: 6rem;
  --gap-70: 7rem;
  --gap-80: 8rem;
  --gap-90: 9rem;
  --gap-100: 10rem;
  --gap-110: 11rem;
  --gap-120: 12rem;
  --gap-130: 13rem;
  --gap-140: 14rem;
  --gap-150: 15rem;
  --gap-160: 16rem;
  --gap-180: 18rem;
  --gap-200: 20rem;
  --gap-240: 24rem;

  /* Display */
  --hidden: none;
  --block: block;
  --inline: inline;
  --inline-block: inline-block;
  --flex: flex;
  --inline-flex: inline-flex;
  --grid: grid;
  --inline-grid: inline-grid;

  /* Radius */
  --radius-1: 2px;
  --radius-2: 4px;
  --radius-3: 6px;
  --radius-4: 8px;
  --radius-5: 12px;
  --radius-6: 16px;
  --radius-7: 20px;
  --radius-8: 24px;
  --radius-9: 26px;
  --radius-10: 28px;
  --radius-11: 30px;
  --radius-12: 32px;
  --radius-13: 34px;
  --radius-14: 36px;
  --radius-15: 38px;
  --radius-16: 40px;
  --radius-17: var(--radius-8) var(--radius-8) 104px var(--radius-8);
  --radius-18: var(--radius-8) var(--radius-8) 200px var(--radius-8);

  /* Typography */
  --ff-Poppins: "Poppins";
  --ff-Poppins-sans-serif: var(--ff-Poppins), sans-serif;
  --fs-1: 0.75rem;
  --fs-2: 0.875rem;
  --fs-3: 1.25rem;
  --fs-4: 2rem;
  --fs-5: 3.5rem;
  --fs-6: 6.5rem;
  --fw-400: 400;
  --fw-700: 700;
  --fw-800: 800;
  --line-height-none: 1;
  --line-height-tight: 1.25;
  --line-height-snug: 1.375;
  --line-height-normal: 1.5;
  --line-height-relaxed: 1.625;
  --line-height-loose: 2;
  --letter-spacing-tighter: -0.05em;
  --letter-spacing-tight: -0.025em;
  --letter-spacing-normal: 0em;
  --letter-spacing-wide: 0.025em;
  --letter-spacing-wider: 0.05em;
  --letter-spacing-widest: 0.1em;
}

@font-face {
  font-family: var(--ff-Poppins);
  font-weight: var(--fw-700);
  font-style: normal;
  src: url(/assets/fonts/poppins-bold-webfont.woff2) format("woff2"),
    url(/assets/fonts/poppins-bold-webfont.woff) format("woff"),
    url(/assets/fonts/Poppins-Bold.ttf) format("ttf");
}

@font-face {
  font-family: var(--ff-Poppins);
  font-weight: var(--fw-700);
  font-style: italic;
  src: url(/assets/fonts/poppins-bolditalic-webfont.woff2) format("woff2"),
    url(/assets/fonts/poppins-bolditalic-webfont.woff) format("woff"),
    url(/assets/fonts/Poppins-BoldItalic.ttf) format("ttf");
}

@font-face {
  font-family: var(--ff-Poppins);
  font-weight: var(--fw-800);
  font-style: normal;
  src: url(/assets/fonts/poppins-extrabold-webfont.woff2) format("woff2"),
    url(/assets/fonts/poppins-extrabold-webfont.woff) format("woff"),
    url(/assets/fonts/Poppins-ExtraBold.ttf) format("ttf");
}

@font-face {
  font-family: var(--ff-Poppins);
  font-weight: var(--fw-800);
  font-style: italic;
  src: url(/assets/fonts/poppins-extrabolditalic-webfont.woff2) format("woff2"),
    url(/assets/fonts/poppins-extrabolditalic-webfont.woff) format("woff"),
    url(/assets/fonts/Poppins-ExtraBoldItalic.ttf) format("ttf");
}

@font-face {
  font-family: var(--ff-Poppins);
  font-weight: var(--fw-400);
  font-style: italic;
  src: url(/assets/fonts/poppins-italic-webfont.woff2) format("woff2"),
    url(/assets/fonts/poppins-italic-webfont.woff) format("woff"),
    url(/assets/fonts/Poppins-Italic.ttf) format("ttf");
}

@font-face {
  font-family: var(--ff-Poppins);
  font-weight: var(--fw-400);
  font-style: normal;
  src: url(/assets/fonts/poppins-regular-webfont.woff2) format("woff2"),
    url(/assets/fonts/poppins-regular-webfont.woff) format("woff"),
    url(/assets/fonts/Poppins-Regular.ttf) format("ttf");
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-family: var(--ff-Poppins-sans-serif);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  background-color: var(--off-white);
  overflow: hidden;
  width: 100%;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: var(--line-height-normal);
  display: var(--flex);
  align-items: center;
  justify-content: center;
}

input[type="text"],
label {
  display: var(--block);
}

/* App Component */
div[class="app-component"] {
  background-color: var(--white);
  width: min(90%, 840px);
  padding-block: var(--gap-30);
  padding-inline: var(--gap-15);
  border-radius: var(--radius-17);
}

div[class="input-component"] {
  display: var(--flex);
  gap: var(--gap-10);
  margin-bottom: var(--gap-40);
}

label {
  margin-bottom: var(--gap-2_5);
  text-transform: uppercase;
  color: var(--smokey-grey);
  font-style: normal;
  font-weight: var(--fw-700);
  letter-spacing: var(--letter-spacing-widest);
  font-size: var(--fs-1);
}

input[type="text"] {
  border-radius: var(--radius-4);
  border: 1px solid var(--light-grey);
  padding-inline: var(--gap-10);
  padding-block: var(--gap-7_5);
  width: 100%;
  outline: none;
  font-weight: var(--fw-700);
  font-size: var(--fs-3);
  color: var(--black);
}

input[type="text"]:is(:focus, :focus-visible) {
  border: 1px solid var(--purple);
  caret-color: var(--purple);
}

input[aria-invalid="true"] + p {
  font-style: italic;
  font-weight: 400;
  font-size: var(--fs-1);
  color: var(--light-red);
  margin-top: var(--gap-5);
}

input[aria-invalid="true"] {
  border: 1px solid var(--light-red);
}

/* Unfortunately this does not work in FireFox yet so I will use JavaScript for this, but one day we will be free. */

/* label:has(+ input[aria-invalid="true"]) {
  color: var(--light-red);
} */

div[class="submit-component"] {
  position: relative;
  margin-bottom: var(--gap-40);
}

div[class="stroke"] {
  height: 0.0625rem;
  width: 100%;
  background-color: var(--light-grey);
}

.btn-submit {
  position: absolute;
  top: 0;
  right: 50%;
  transform: translate(50%, -50%);
  appearance: none;
  background-color: var(--purple);
  border-radius: 50%;
  width: 4rem;
  aspect-ratio: 1;
  display: var(--flex);
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  outline: none;
}

.btn-submit:focus-visible {
  border: 2px solid var(--off-black);
}

.btn-submit:active {
  background-color: var(--off-black);
}

div[class~="show"][class~="display-age-component"] {
  visibility: visible;
  opacity: 1;
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: scale(1);
  transform-origin: center;
}

div[class~="display-age-component"] {
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
}

div[class~="display-age-component"] > p {
  font-style: italic;
  font-weight: var(--fw-800);
  font-size: var(--fs-5);
  color: var(--off-black);
  line-height: var(--line-height-tight);
}

div[class~="display-age-component"] > p > span {
  color: var(--purple);
}

/* Devices with a width of 1440px and above will be targeted  */
@media only screen and (min-width: 90em) {
  div[class="app-component"] {
    padding-block: var(--gap-35);
    padding-inline: var(--gap-35);
    border-radius: var(--radius-18);
  }

  div[class="input-component"] {
    gap: var(--gap-20);
    margin-bottom: var(--gap-20);
  }

  div[class="input-component"] > * {
    flex-basis: 20%;
  }

  label {
    margin-bottom: var(--gap-5);
    font-size: var(--fs-2);
  }

  input[type="text"] {
    padding-inline: var(--gap-15);
    outline: none;
    width: 100%;
    font-weight: var(--fw-700);
    font-size: var(--fs-3);
    color: var(--black);
  }

  input[type="text"]::placeholder {
    font: inherit;
    color: var(--off-black);
    opacity: 0.5;
  }

  div[class="submit-component"] {
    margin-bottom: var(--gap-20);
  }

  .btn-submit {
    position: absolute;
    right: 0;
    transform: translate(0%, -50%);
  }

  input[aria-invalid="true"] + p {
    font-size: var(--fs-2);
  }

  div[class~="display-age-component"] > p {
    font-size: var(--fs-6);
  }
}
